.guia-cadastro {
  background-color: #f8f9fa;
  color: #444;
}

.guia-cadastro h2 {
  font-size: 2.5rem;
}

.guia-cadastro p,
.guia-cadastro ol li {
  font-size: 1.1rem;
  line-height: 1.6;
}

.guia-cadastro ol li {
  margin-bottom: 10px;
}

.alert-primary {
  font-size: 1rem;
}

.btn-azul {
  background-color: #75a2e7;
  color: white;
  border: none;
}

.btn-azul:hover {
  background-color: #5a7ccc;
  color: white;
}

.animacao-texto {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animacao-texto.visible {
  opacity: 1;
  transform: translateY(0);
}

.flutter {
  background-color: #75a2e7;
  color: white;
}
